.navRightSide {
  display: flex;
  padding-top: 9px;
}

.projectListItem {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  margin-bottom: 5px;
  list-style-type: none;
}

.projectListItemText {
  padding-left: 5px;
}

.navbarAlertIcon {
  margin-right: 10px;
}

.alertsColor {
  color: orange;
}
