.storageGraphList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.storageGraph {
  /*width: 400px;*/
  /*background-color: white;*/
}

.dropdown-menu {
    width: 300px !important;
    height: 400px !important;
    text-align: center;
}
